In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re # 정규표현의 처리를 실행하는 라이브러

In [3]:
movies_data=pd.read_csv('/content/drive/MyDrive/머신러닝/input/ml-latest-small/movies.csv')
ratings_data=pd.read_csv('/content/drive/MyDrive/머신러닝/input/ml-latest-small/ratings.csv')

In [4]:
movies_data

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [5]:
ratings_data

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [6]:
ratings_data['movieId'].value_counts().sort_index()

1         215
2         110
3          52
4           7
5          49
         ...
193581      1
193583      1
193585      1
193587      1
193609      1
Name: movieId, Length: 9724, dtype: int64

In [7]:
# 동일한 영화 ID의 평균 평점을 계산
average_ratings = ratings_data.groupby('movieId')['rating'].mean()

# 결과 출력
print(average_ratings)

movieId
1         3.920930
2         3.431818
3         3.259615
4         2.357143
5         3.071429
            ...
193581    4.000000
193583    3.500000
193585    3.500000
193587    3.500000
193609    4.000000
Name: rating, Length: 9724, dtype: float64

In [8]:
new_movie_data = movies_data
new_movie_data

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [9]:
new_movie_data['parsed_genres'] = new_movie_data['genres'].apply(lambda x: re.split(r'\|', x)[0])
new_movie_data = new_movie_data.merge(average_ratings, on='movieId')
new_movie_data

,movieId,title,genres,parsed_genres,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Adventure,3.920930
1,2,Jumanji (1995),Adventure|Children|Fantasy,Adventure,3.431818
2,3,Grumpier Old Men (1995),Comedy|Romance,Comedy,3.259615
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Comedy,2.357143
4,5,Father of the Bride Part II (1995),Comedy,Comedy,3.071429
...,...,...,...,...,...
9719,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,Action,4.000000
9720,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,Animation,3.500000
9721,193585,Flint (2017),Drama,Drama,3.500000
9722,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,Action,3.500000
9723,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,Comedy,4.000000

In [10]:
new_movie_data = new_movie_data.drop(new_movie_data[new_movie_data['rating'] < 3.0].index)
new_movie_data

,movieId,title,genres,parsed_genres,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Adventure,3.920930
1,2,Jumanji (1995),Adventure|Children|Fantasy,Adventure,3.431818
2,3,Grumpier Old Men (1995),Comedy|Romance,Comedy,3.259615
4,5,Father of the Bride Part II (1995),Comedy,Comedy,3.071429
5,6,Heat (1995),Action|Crime|Thriller,Action,3.946078
...,...,...,...,...,...
9719,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,Action,4.000000
9720,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,Animation,3.500000
9721,193585,Flint (2017),Drama,Drama,3.500000
9722,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,Action,3.500000
9723,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,Comedy,4.000000

In [11]:
new_movie_data = new_movie_data[new_movie_data['parsed_genres'] != '(no genres listed)']
new_movie_data

,movieId,title,genres,parsed_genres,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Adventure,3.920930
1,2,Jumanji (1995),Adventure|Children|Fantasy,Adventure,3.431818
2,3,Grumpier Old Men (1995),Comedy|Romance,Comedy,3.259615
4,5,Father of the Bride Part II (1995),Comedy,Comedy,3.071429
5,6,Heat (1995),Action|Crime|Thriller,Action,3.946078
...,...,...,...,...,...
9719,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,Action,4.000000
9720,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,Animation,3.500000
9721,193585,Flint (2017),Drama,Drama,3.500000
9722,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,Action,3.500000
9723,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,Comedy,4.000000

In [12]:
# CSV 파일로 저장
new_movie_data.to_csv('movie_data.csv', index=False)